# ----------------------------------------------------------------------------
# FILE:          .gitignore
# DESCRIPTION:   GIT ignore file for Vivado project src control
# DATE:          02:00 PM Thursday, August 29, 2019
# AUTHOR(s):     Lime Microsystems
# REVISIONS:
# ----------------------------------------------------------------------------

!.gitignore
# ----------------------------------------------------------------------------
# VIVADO project
# ----------------------------------------------------------------------------
LimeSDR-XTRX/*
LimeSDR-XTRX_gold/*
.Xil
.Xiltemp

# --------------
# src
# --------------
*.bak
src/**/source_library
# --------------
# ip
# --------------

# --------------
# bitstream
# --------------


# ----------------------------------------------------------------------------
# OTHER
# ----------------------------------------------------------------------------
*.log
*.str
*.mif
workspace/*
sw_workspace/*
*.jou
