# ----------------------------------------------------------------------------
# FILE:          .gitignore
# DESCRIPTION:   GIT ignore file for Vivado project src control
# DATE:          02:00 PM Thursday, August 29, 2019
# AUTHOR(s):     Lime Microsystems
# REVISIONS:
# ----------------------------------------------------------------------------

!.gitignore
# ----------------------------------------------------------------------------
# VIVADO project
# ----------------------------------------------------------------------------
LimeSDR-XTRX/*
LimeSDR-XTRX_gold/*
.Xil
.Xiltemp

# --------------
# src
# --------------
*.bak
src/**/source_library
# --------------
# ip
# --------------

# --------------
# bitstream
# --------------


# ----------------------------------------------------------------------------
# OTHER
# ----------------------------------------------------------------------------
*.log
*.str
*.mif
workspace/*
sw_workspace/*
*.jou

/ip/axis_switch_0/hdl/axis_infrastructure_v1_1_0.vh
/ip/axis_switch_0/hdl/axis_infrastructure_v1_1_vl_rfs.v
/ip/axis_switch_0/hdl/axis_register_slice_v1_1_vl_rfs.v
/ip/axis_switch_0/axis_switch_0.dcp
/ip/axis_switch_0/synth/axis_switch_0.v
/ip/axis_switch_0/axis_switch_0.veo
/ip/axis_switch_0/axis_switch_0.vho
/ip/axis_switch_0/axis_switch_0.xml
/ip/axis_switch_0/axis_switch_0_ooc.xdc
/ip/axis_switch_0/axis_switch_0_sim_netlist.v
/ip/axis_switch_0/axis_switch_0_sim_netlist.vhdl
/ip/axis_switch_0/axis_switch_0_stub.v
/ip/axis_switch_0/axis_switch_0_stub.vhdl
/ip/axis_switch_0/hdl/axis_switch_v1_1_vl_rfs.v
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll.dcp
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll.v
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll.veo
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll.xdc
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll.xml
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_board.xdc
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_clk_wiz.v
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_late.xdc
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_ooc.xdc
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_sim_netlist.v
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_sim_netlist.vhdl
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_stub.v
/ip/idelay_refclk_pll/idelay_refclk_pll/idelay_refclk_pll_stub.vhdl
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_7s_mmcm.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_7s_mmcm.vh
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_7s_pll.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_7s_pll.vh
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_us_mmcm.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_us_mmcm.vh
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_us_pll.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_us_pll.vh
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_us_plus_mmcm.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_us_plus_mmcm.vh
/ip/idelay_refclk_pll/idelay_refclk_pll/mmcm_pll_drp_func_us_plus_pll.vh
/ip/usb_clk_mmcm/mmcm_pll_drp_func_us_plus_pll.vh
/ip/usb_clk_mmcm/usb_clk_mmcm.dcp
/ip/usb_clk_mmcm/usb_clk_mmcm.v
/ip/usb_clk_mmcm/usb_clk_mmcm.veo
/ip/usb_clk_mmcm/usb_clk_mmcm.xdc
/ip/usb_clk_mmcm/usb_clk_mmcm.xml
/ip/usb_clk_mmcm/usb_clk_mmcm_board.xdc
/ip/usb_clk_mmcm/usb_clk_mmcm_clk_wiz.v
/ip/usb_clk_mmcm/usb_clk_mmcm_ooc.xdc
/ip/usb_clk_mmcm/usb_clk_mmcm_sim_netlist.v
/ip/usb_clk_mmcm/usb_clk_mmcm_sim_netlist.vhdl
/ip/usb_clk_mmcm/usb_clk_mmcm_stub.v
/ip/usb_clk_mmcm/usb_clk_mmcm_stub.vhdl
